annotated-types
anyio
beautifulsoup4
brotli
cachetools
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cssselect2
fastapi
fonttools
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
Jinja2
MarkupSafe
narwhals
packaging
pillow
plotly
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydyf
pyparsing
pyphen
python-dotenv
python-multipart
requests
rsa
six
sniffio
soupsieve
starlette
tenacity
tinycss2
tinyhtml5
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
uvicorn
weasyprint
webencodings
websockets
zopfli
bcrypt
diffprivlib
PyJWT
slowapi
python-docx

